
@{
    ViewBag.Title = "CetakLK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Cetak Laporan Keuangan
    </h1>
</section>
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">


                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Emiten</th>
                                <th>Produk</th>
                                <th>Nama Produk</th>
                                <th>Tanggal Surat</th>
                                <th>Tanggal Cetak</th>
                                <th>Status Cetak</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody class="tbody"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script>
        $(document).ready(function () {
//LoadEmiten();
            // Setup - add a text input to each footer cell
            $('#example1 thead tr').clone(true).appendTo('#example1 thead');

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetFilter", "TransaksiKeuangan")",
                async: false,
            dataType: "JSON",
            success: function (result) {
                console.log(result)
                $('#example1 thead tr:eq(1) th').each(function (i) {
                    if (i == 0 || i == 8) {
                        $(this).html('');
                    } else if (i == 1 || i == 2) {
                        var title = $(this).text();
                        var res = title.replace(" ", "").replace(" ", "").replace("-", "");
                        var data = eval("result." + res);
                        var html = '';
                        html += '<select class="form-control select2 filter">';
                        html += '<option value="" selected="selected">Search</option>';
                        //html += '<option selected="selected">Search ' + title + '</option>';
                        $.each(data, function (index, val) {
                            html += '<option>' + val + '</option>';
                        });
                        html += '</select>';
                        $(this).html(html);

                        $('select', this).on('keyup change', function () {
                            if ($("#example1").DataTable().column(i).search() !== this.value) {
                                //t.column(i).search(this.value).draw();
                                $("#example1").DataTable().column(i).search(this.value ? '^' + this.value + '$' : '', true, false).draw();
                            }
                        });


                    }
                    else if (i == 4 || i == 5) {
                        var title = $(this).text();
                        $(this).html('<input type="date" class="form-control filter" placeholder="Search" />');
                        $('input', this).on('keyup change', function () {
                            var year = this.value.substr(0, 4);
                            var month = this.value.substr(5, 2);
                            var day = this.value.substr(8, 2);
                            var newdate = day + "/" + month + "/" + year;
                            if (t.column(i).search() !== newdate) {
                                t.column(i).search(newdate).draw();
                            }
                        });
                    } else {
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control filter" placeholder="Search" />');
                        //$(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');

                        $('input', this).on('keyup change', function () {
                            if ($("#example1").DataTable().column(i).search() !== this.value) {
                                $("#example1").DataTable().column(i).search(this.value).draw();
                            }
                        });
                    }

                });
            }
        });
        var t = $("#example1").DataTable({
            "orderCellsTop": true,
            "ajax": {
                "url": "@Url.Action("GetLPAll", "TransaksiKeuangan")",
            "type": "GET",
            "datatype": "json"
        },
            "columns": [
        { "data": null },
        { "data": "Perusahaan.Nama" },
        { "data": "Produk.Nama" },
        { "data": "NamaProduk" },

        {
            "data": "TglSuratTerdekat", "render": function (d) {
                return moment(d).locale('id').format('dddd, LL');
            }
        },
       {
           "data": "TglCetak", "render": function (d) {
               return moment(d).locale('id').format('dddd, LL');
           }
       },
         {
             "render": function (data, type, row) {
                 return "<span class='label label-" + row.StatusCetak.Warna + "'>" + row.StatusCetak.Nama + "</span>";

             }
         },
         {
             "data": "Status", "render": function (row) {
                 console.log(row);
                 if (row == true) {

                     return '<td class="text-center"><span class="label label-info">Done</span></td>';

                 } else {
                     return '<td class="text-center"><span class="label label-warning">Unfinisihed</span></td>';
                 }
             }
         },
         {
             "render": function (data, type, row) {
                 //cetak surat
                 var now = row.TglHariIni;
                 var cetak = row.TglCetak;
                 var bunga = row.TglSuratTerdekat;
                 if (row.StatusCetak.Id == 2 || row.StatusCetak.Id == 5) {
                     //return "<a class='btn btn-info btn-sm' href='@Url.Action("ViewLK", "TransaksiKeuangan")/" + row.Id + "'><i class='fa fa-eye'></i></a> &nbsp;"
                     return "<a class='btn btn-info btn-sm' href='@Url.Action("ViewLKAll", "TransaksiKeuangan")/" + row.Id + "'><i class='fa fa-eye'></i></a> &nbsp;"
                 }

                 else {
                     return null;
                 }

             },

         }


        ],
        "pageLength": 10,
        "scrollX": true,
        "scrollCollapse": true,
        "dom": "<'row'<'col-sm-4'B><'col-sm-2'l><'col-sm-6'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "columnDefs": [
            {

                "visible": false,
                "searchable": false
            },
            {
                "searchPanes": {
                    "show": true,
                },
                "targets": [1, 2, 3, 4, 5,6,7],
            }, {
                "searchPanes": {
                    "show": false,
                },
                "targets": [1, 2, 3, 4, 5,6,7],
            }, {
                "sortable": false,
                "class": "index",
                "targets": [0, 8]
            }, {
                "width": 200,
                "targets": 8

            }],
        "searchPanes": {
            "layout": 'columns-6'
        },
                "select": {
                    "style": 'multi'
                },
                "buttons": {
                    "buttons": [
                        {
                            "text": '<i class="fa fa-file-excel-o"></i> Download',
                            "extend": 'excelHtml5',
                            "className": 'btn-success',
                            "autoFilter": false,
                            "sheetName": 'Data',
                            "title": "Report Data Rating",
                            "exportOptions": {
                                "columns": [1, 2, 3, 4, 5]
                            }

                        },
                        {
                            "extend": 'searchPanes',
                            "config": {
                                "cascadePanes": true
                            },
                            "className": 'btn-info'
                        },
                        {
                            "text": '<i class="fa fa-refresh"></i> Reset',
                            "className": 'btn-warning',
                            "action": function (e, dt, node, config) {
                                $('.filter').each(function () {
                                    $(this).val('').change();
                                })

                                //// Redraw table (and reset main search filter)
                                $("#example1").DataTable().search('').draw();
                                $("#example1").DataTable().column(4).search('').draw();
                                $("#example1").DataTable().column(5).search('').draw();


                            },
                        }
                    ],
                    "dom": {
                        "button": {
                            "className": 'btn btn-sm'
                        },
                        "buttonLiner": {
                            "tag": null
                        }
                    }
                },
                "language": {
                    "searchPanes": {
                        "clearMessage": 'Clear',
                        "collapse": { 0: '<i class="fa fa-search"></i> Search', _: '<i class="fa fa-search"></i> Search (%d)' }
                    }
                }

        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
        });
    </script>
}
