body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media screen and (min-width: 768px) {
  .modal-lg{
      width:1200px;
  }

  .modal-sm{
      width:300px;
  }
  .modal-md{
      width:1000px;
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.swal2-icon {
  width: 5em !important;
  height: 5em !important;
  border-width: .25em !important;
}

.swal2-actions button {
  margin: .2em !important;
}

.   {
    text-decoration-color:#9237D3;
}